.title {
  padding: 0 100px;
  margin-bottom: 48px;
}

.favorite {
  margin-bottom: 72px;
}

.favorite_book {
  list-style: none;
  margin-bottom: 48px;
}

.empty {
  text-align: center;
  padding: 100px;
}
