.title {
  padding: 0 50px;
  margin-bottom: 48px;
}

.empty {
  text-align: center;
  padding: 100px;
}

.cart {
  margin-bottom: 72px;
}

.cart_book {
  list-style: none;
  margin-bottom: 48px;
}

.total {
  display: flex;
  justify-content: flex-end;
  padding: 0 50px;
  margin-bottom: 72px;
}
