.cart {
  display: flex;
  padding: 0 50px 48px 50px;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

.price {
  display: flex;
  align-self: center;
}

.remove {
  display: flex;
  align-self: center;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 15px;
}
