.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  font-family: "BebasNeue-Bold";
  font-size: 24px;
  line-height: 24px;
  width: 100%;
}

.button:hover,
.button:active {
  cursor: pointer;
  background-color: #5b5a62;
}

.button:disabled {
  background-color: #a8a8a8;
}

.primary {
  background-color: #313037;
  color: #ffffff;
}

.secondary {
  background-color: var(--border-color);
  border: 1px solid #e7e7e7;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: #313037;
  padding: 0;
  margin: 0;
}

.icon:hover {
  background-color: gray;
}

.icon:active {
  background-color: #fc857f;
}
