.favorite {
  display: flex;
  padding: 0 100px;
  justify-content: space-between;
  gap: 48px;
}

.image {
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}

.top_info {
}

.title {
  margin-bottom: 8px;
}

.subtitle {
}

.authors {
}

.publisher {
}

.year {
}

.bottom_info {
}

.price {
}

.rating {
}

.remove {
  display: flex;
}
