.imgage {
  position: relative;
  margin-bottom: 20px;
}

.img {
  padding: 1px 63px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.action {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.heart_container {
  position: absolute;
  top: 0;
  right: 0;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  margin-bottom: 8px;
}

.text {
  margin-bottom: 40px;
}
